@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "gilroy";
}

.element-scheme-dark {
    --text: #ffffff;
    --background: #2b3945;
    --body-background: #202d36;
    --placeholder-text: #ffffff;
}
.element-scheme-light {
    --text: #111517;
    --background: #ffffff;
    --body-background: #f1f1f1;
    --placeholder-text: #858585;
}

.scrollable {
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba($color: #000000, $alpha: 0.04);
    }
    &::-webkit-scrollbar-thumb {
        background: #a8a8ba;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #868695;
    }
}
